body,
html {
    margin: 0;
    padding: 0;
}

body {
    color: #565656;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #181e51;
    font-family: 'Roboto', sans-serif;
}
/*NAVIGATION*/
.navigation {
    align-items: center;
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(242,242,242,1);
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: auto;
    justify-items: center;;
    margin-bottom: 3rem;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
	.logo{
		grid-column: 1;
		width: 180px;
		height: auto;
	}
		.logo img{
			width: 100%
		}
	.nav {
		grid-column: 2;
			text-align: center;
	}
		.nav ul {
			display: inline-block;
		}
		.nav ul li{
			display: inline-block;
			list-style-type: none;
			margin-left: 1rem;
		}

		.nav a{
			color: #2da28b;
			text-decoration: none;
		}
	.compra {
		grid-column: 3;
		text-align: center;
	}

	.btn{
		padding: .5rem 1.5rem;
		color: white;
		background: #ff3676;
		text-align: center;
		border-radius: 5px;
		text-decoration: none;
		bodrer: none;
		font-weight: bold;
	}
/* header */
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.5rem;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.header__fije img,
.header__juve img {
    max-width: 280px;
}

.header__fije {
    grid-column: 1;
}

.header__juve {
    grid-column: 2
}

.header__impact {
    grid-column: 1 / span 2
}

.header__lugar {
    grid-column: 1 / span 2;
    line-height: 1.3;
    font-size: 2rem;
    color: #06b179;
    font-weight: bold;
}

/*wrapper*/
.wrapper {
    width: 1080px;
    margin: 0 auto;
}



.title {
    text-align: center;
    font-size: 2.3rem
}

.tematicas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.5rem;
}

.title--tematicas {
    grid-column: 1 / span 4;
    text-transform: uppercase;
    text-align: center;
    margin: 0
}

.tematica__item {
    font-size: 1.5rem;
    padding: 1.8rem;
    text-align: center;
}

.tematica__item h4 {
    margin: 0;
}

.tematica_fin {
    background: #a5dbaa;
    color: #1c6836;
}

.tematica_fin h4 {
    border-bottom: 1px solid #1c6836;
    padding-bottom: 1rem
}

.tematica_ci {
    background: #a3a5d4;
    color: #4750aa;
}

.tematica_ci h4 {
    border-bottom: 1px solid #4750aa;
    padding-bottom: 1rem
}

.tematica_log {
    background: #ffc698;
    color: #774927;
}

.tematica_log h4 {
    border-bottom: 1px solid #774927;
    padding-bottom: 1rem
}

.tematica_tec {
    background: #f49598;
    color: #9d1f18;
}

.tematica_tec h4 {
    border-bottom: 1px solid #9d1f18;
    padding-bottom: 1rem
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding: 5rem 0;
    margin: 3rem auto;
    width: 50%;
    height: 350px;

}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* information*/ 
.info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
}
    .info__title{
        background: #FFEFBA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        grid-column: 1 / -1;
        text-align:center;

    }
    .info__price{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .vip--title{
        grid-column:span;
    }
    .vip--sillas{ 
        grid-column: 2 / span 2;
    }
    .vip--precio{
        grid-column: 4 / -1;
    }
    .vip--color {
        background: #80c1a3;
    }
.precios--set{
    border-left: 1px dotted white;
    margin-bottom:1rem;
    padding-left:1.5rem;
}
        
    .emprendedor--title{
        grid-column:1 / span 2;
    }
    .emprendedor--sillas{ 
        grid-column: 3 / span;
    }
    .emprendedor--precio{
        grid-column: 4 / -1;
    }
        .emprendedor--color{
           background: #7496c3; 
        }
    .estudiantes--title{
        grid-column:1 / span 2;
    }
    .estudiantes--sillas{ 
        grid-column: 3 / span;
    }
    .estudiantes--precio{
        grid-column: 4 / -1;
    }
        .estudiantes--color{
            background:#cc68a6;
        }



/* footer */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
    padding: 3rem 5rem;
}

.footer img {
    max-width: 200px;
    height: auto;
    width: 100%
}

.footer-item {
    text-align: center;
}

.footer--title {
    grid-column: 1 / span 4;
}

@media (max-width: 1024px){
    .wrapper{
        width: 90%;
    }
}



@media (max-width: 480px) {
    .wrapper {
        width: 90vw;
        padding: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .tematicas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: .5rem;
        margin: 3rem 0;
    }

    .title--tematicas {
        grid-column: 1 / span 2;
    }

    .header img {
        width: 100%
    }

    .title_tematicas {
        grid-column: 1 / span 2;
    }

    .tematica__item {
        padding: 1rem;
    }

    .youtube {
        width: 100%;
        height: auto;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        padding: 1rem;
    }
	
	.navigation{
		grid-template-columns: 1fr;
		padding: 0;
	}
		.nav {
		grid-column: 1;
			text-align: center;
			display: none;
	}
		.compra {
		grid-column: 1;
			text-align: center;
			margin-top: 1rem;
	}

	.fije{
		grid-column: 1;
	}
	.juve{
		grid-column: 2;
	}
	.cainco{
		grid-column: 1;
	}
	.fexpo{
		grid-column: 2;
	}
}